.alghoritmicResultsModal-container{
    padding: 1rem;
    width: 30rem;
}

.alghoritmicResultsModal-section{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}
.alghoritmicResultsModal-section-value{
    word-wrap: break-word;
    overflow: auto;
}
