.huffmanScreen-containter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.huffmanScreen-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  margin: 2rem;
}
.huffmanScreen-headers {
  margin-bottom: 1rem;
  color: var(--second-color);
}
.huffmanScreen-decompress-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
