.probScreen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.probScreen-words {
  color: var(--second-color);

}
.probScreen-words-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
  flex-wrap: wrap;
}
.probScreen-fab-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

