.letterInput-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.letterInput-tableInputs {
  background-color: white;
}
.app-expandPanel-header {
  color: var(--second-color);
}
